*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: hsl(314, 94%, 48%);
    --primary-color-shade: hsl(314, 94%, 42%);
    --primary-color-shade-dark: hsl(314, 94%, 38%);
    --secondary-color: hsl(270, 69%, 41%);
    --gray-text: #555;
    --gray-bg: #f4f4f4;
    --tomato: tomato;
}


html, body{
    background-color: white;
    color: black;
    text-rendering: optimizeLegibility;
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    
}

.clearfix{
    zoom: 1;
}

.clearfix:after {
    content: '';
    display: table;
    clear:both;
    visibility: hidden;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-image: 
        linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .7)),
        url(img/header-img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;

    .header-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        .header-box-text{
            margin-bottom: 100px;
            h1{
                font-size: 500%;
                color: white;
                font-weight: 400;
                margin-bottom: 20px;
            }
            h2{
                color: white;
                font-size: 200%;
                font-weight: 400;
            }
        }    
    }  
}

///////// BUTTONS ///////////////////////////////////////////////////////////////
.btn:link, 
.btn:visited
.btn:focus,
input[type=submit] {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    display: inline-block;
}

.btn-full:link, 
.btn-full:visited, 
.btn-full:focus,
input[type=submit]{
    background-color: var(--primary-color);
    color: white;
    transition: background-color .25s ease-in-out;
    &:hover{
        background-color: var(--primary-color-shade); 
    }
    &:active{
        background-color: var(--primary-color-shade-dark); 
    }
}


.btn-ghost:link,
.btn-ghost:visited,
.btn-ghost:focus{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transition: all .35s ease-in-out;
    &:hover{
        background-color: var(--primary-color);
        color: white;
    }
    &:active{
        background-color: var(--primary-color-shade-dark);
        color: white;
    }
}

input[type=submit] {
	border:0;
}



/////// NAVIGATION //////////////////////////////////////////////////////////////////////////
.main-nav{
    list-style: none;
    float: right;
    margin-top: 50px;
    li{
        display: inline-block;
        margin-right: 40px;
        text-transform: uppercase; 
        a:link,
        a:visited,
        a:focus{
            text-decoration: none;
            color: white;
            border-bottom: 1px solid transparent;
            transition: border-bottom .25s ease-in-out;
            &:hover,
            &:active{
               border-bottom: 2px solid var(--primary-color); 
            }
        }
    }
}

.logo{
    height: 120px;
    width: auto;
    float: left;
}

///////// Sticky-NAV /////////////////////////////////
.sticky-nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 1);
    width: 100%;
    box-shadow: 0 2px 2px #efefef;
    .logo{
      height: 60px; 
      margin-top: 3px;
    }
    .main-nav{
        margin-top: 30px; 
        li a:link,
        li a:visited,
        li a:focus{
            color: var(--gray-text);
            padding: 5px 0;
            font-weight: 500;
        }
    }
    z-index: 99 !important;
}


/////// ABOUT Section //////////////////////////////////////////////////////
.about-section{
    padding-bottom: 20px;
    .laptop-image{
        width: 80%;
    }

    .about-heading{
        font-size: 250%;
        font-weight: 400;
        margin-bottom: 50px;
    }

    .about-para{
        color: var(--gray-text);
        margin-bottom: 50px;
    }

    .about-box{
        margin-top: 150px;
    }

    .about-box:first-child{
        text-align: left;
        padding: 0 5%;
    }
    .about-box:last-child{
        text-align: right;
    }

}

///// WORK SECTION /////////////////////////////////////////////////////////////////////

.work-section{
    text-align: center;
    background-color: var(--gray-bg);

    .work-portfolio{
        margin-top: 10px;
        list-style: none;
        width: 100%;
        li{
            display: block;
            width: 25%;
            float: left;
            .portfolio-image{
                background-color: black;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    opacity: .7;
                    transform: scale(1.15);
                    transition: transform .35s ease-in-out, opacity .45s;
                    &:hover{
                        transform: scale(1);
                        opacity: 1;
                    }
                }
                .work-para{
                    color: white;
                }
            }
        }
    }

}



///////////////////////////////////////////////////////////

.row{
    .section-heading{
        margin-top: 150px;
        font-size: 250%;
        color: black;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .section-sub-heading{
        font-size: 150%;
        color: var(--gray-text);
        font-weight: 300;
        margin-bottom: 30px;
        line-height: 1.5;
        &:after{
            display: block;
            height: 2px;
            width: 100px;
            background-color: var(--primary-color);
            content: '';
            margin: 30px auto 0 auto;
        }
    }
}


/// Services Section ////////////////////////////////////////////////////////////
.services-section{
    text-align: center;
    background-color: var(--gray-bg);

    .service-box{
        padding: 1% 3%;
    }

    .big-icon{
        font-size: 250%;
        color: var(--secondary-color);
        display: block;
        margin-bottom: 30px;
    }
    .service-heading{
        font-size: 150%;
        margin-bottom: 30px;
        font-weight: 400;
    }
    .service-para{
        color: var(--gray-text);
        font-size: 90%;
        margin-bottom: 20px;
    }
    .service-link{
        color: var(--primary-color);
        text-transform: uppercase;
        text-decoration: none;
    }
}


//////// Partners Section////////////////////////////////////////////////////////////
.partners-section{
    text-align: center;

    .partner-logo{
       width: 65%;
       height: auto; 
    }
    
}


////////////// testimonials-section ///////////////////////////////
.testimonials-section{
    background-image: 
    linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .8)),
    url(img/testimonial-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    .testimonials-heading{
        color: white;
    }
    .testimonials-box{
        text-align: left;
        margin-bottom: 50px;

        blockquote{
            padding: 2%;
            font-style: italic;
            // font-weight: 300;
            line-height: 145%;
            margin-top: 40px;
            position: relative;
            &:before{
                content:"\201C"; 
                display:block;
                font-size:500%;
                position:absolute;
                left:-5px;
                top:-5px;
            }
        }

        cite{
            display: block;
            margin-top: 20px;
            font-size: 90%;
            img{
                border-radius: 50%;
                height: 20%;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }
}

///// Packages-section //////////////////////////
.packages-section{
    text-align: center;
    background-color: var(--gray-bg);

    .packages-heading{
        color: black;
        font-size: 250%;
        font-weight: 400;
        margin-top: 150px;
        margin-bottom: 50px;
    }
    .package-box{
        background-color: #fff;
        width: 90%;
        margin-bottom: 30px;
        box-shadow: 0 3px 2px #efefef;
        text-align: left;
        
        div{
            padding: 15px;
            border-bottom: 1px solid #efefef;
            &:last-child{
                border: none;
                text-align: center;
            }
            &:first-child{
                background-color: #fcfcfc;
            }
        }

        .package-heading{
            font-size: 150%;
            color: var(--gray-text);
            margin-bottom: 50px;
            font-weight: 400;
        }
        .package-price{
            color: var(--primary-color);
            font-size: 300%;
            font-weight: 300;
            margin-bottom: 10px;
            span{
                font-size: 30%;
                font-weight: 500;
            }
        }
        .package-para{
            color: var(--gray-text);
            font-size: 80%;
            margin-bottom: 10px;
        }
        ul{
            list-style-type: none;
            li{
                color: var(--gray-text);
                padding: 5px 0;
            }
            .small-icon{
                color: var(--primary-color);
                font-size: 120%;
                display: inline-block;
                margin-right: 10px;
                width: 30px;
                text-align: center;
            }
        }
    }
}

///////Contact Form Section /////////////////////////////////
.contact-section{
    text-align: center;
}

.contact-form{
    text-align: left;
    width: 60%;
    margin: 0 auto;
    color: var(--gray-text);

    input[type=text],
    input[type=email],
    textarea{
        width: 100%;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #ccc;
        background-color: #fff;  
    }
    input[type=checkbox]{
        margin: 10px 5px 10px 0;
    }
    textarea{
        height: 100px;
    }  
}

//////// FOOTER /////////////////////////////////////////////
footer {
	background-color:#333;
	padding:50px;
	font-size:80%;
	color:#888;

    .footer-nav{
        float: left;
        li{
            list-style:none;
            display:inline-block;
            margin-right:20px;
            a:link,
            a:visited,
            a:focus{
                color: #888;
                text-decoration: none;
                transition: color .25s ease-in-out;
                &:hover,
                &:active{
                    color: white;
                }
            }
        }
    }

    .social-links{
        float: right;

        li{
            list-style:none;
            display:inline-block;
            margin-left:20px;
            
            a:link,
            a:visited,
            a:focus{
                color: #888;
                text-decoration: none;
                font-size: 150%;
            }
        }
    }

    .fa-facebook-f,
    .fa-twitter,
    .fa-google-plus-g,
    .fa-instagram{
        transition: color .25s ease-in-out;
    }

    .fa-facebook-f:hover{
        color: #4267B2;
    }
    .fa-twitter:hover{
        color: #1DA1F2;
    }
    .fa-google-plus-g:hover{
        color: #DB4437;
    }
    .fa-instagram:hover{
        color: #833AB4;
    }

    p{
        text-align: center;
        margin-top: 50px;
        line-height: 1.5;
    }
}

 




@import "media-quary";


/// JQuery Animate ON SCroll/////////
.js--about-box{
    opacity:0;
    animation-duration: 1s;
}

.js--about-box.animate__animated{
    opacity:1;
}


.js--service-box{
    opacity:0;
    animation-duration: 1.5s;
}
.js--service-box.animate__animated{
    opacity:1;
}

.js--package-box.animate__animated{
    animation-duration: 2.5s;
    animation-iteration-count: 5;
}